.container{
    margin-top: 2rem;
    text-align: center;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
h2{
    color: aqua;
}
p{
    color: rgb(244, 117, 21);
}
h3{
    color: rgb(21, 244, 77);
}