.modalStyle{
 min-width: 30vw;
 background-color: #fff;
 border-radius: 4px;
 padding: 4px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
}
.buttonDiv{
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid grey;
    padding: 0.2rem;

}